# Игнорируем файлы, генерируемые Unity и сборкой
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# Игнорируем файлы Visual Studio / Rider
*.csproj
*.sln
*.suo
*.vssscc
*.tmp
*.vscode
*.ncb
*.user
*.unityproj
*.booproj
*.pidb
*.svd
*.pdb
*.opendb
*.VC.db

# Игнорируем пакеты Unity
[Pp]ackages/
# Исключение для Manifest (чтобы пакеты можно было восстановить)
!Packages/manifest.json
!Packages/packages-lock.json

# Игнорируем кеш ассетов
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.hash
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bundle

# Игнорируем файлы сборки iOS/Android
[Dd]io_Test_iOS/

*.ipa

# Игнорируем Unity Cloud Build метаданные
/[Bb]uilds/[Cc]loud/
